body {
  background-color: blueviolet;
    display: grid;
    
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.contenedor {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

}

.container1{
  width: 50%;
  height: 100%;
  background-color: aqua;
}

.encabezado{
  float: left;
  width: 50%;
}
.logo {
  width: 50px;
  height: auto;
  position: absolute;
  top: 20px;
  left: 20px;
  float: left;
  }
  

.title{
  
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
 
}
.subtitle{
  margin: 0 auto;
}

.container2 {
  width: 50%;
  background-color: blueviolet;
  height: 100%;
}



